*{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

body{
  padding: 0;
  margin: o;
  background-color: #F3F5FC !important;
}

header{
  background-color: #113A6E;
  display: flex !important;
  align-items: center;
}

.logo-img{
  width: 8%;
}

.encabezado{
  width: 100%;
  text-align: center;
  color: azure;
}

.container{
  padding: 2rem;
  display: flex;
  height: 44.6rem;
}

.entradaTexto-Botones{
  padding: 1rem 2rem 1rem;
  background-color: transparent;
}

.form-group{
  height: 83%;
}

.mensajeAdvertencia{
  display: flex !important;
}

textarea {
  resize: none !important;
}

.textInput{
  width: 100%;
  height: 95%;
  background-color: transparent;
  border: none;
}

::placeholder {
  color: #0A3871;
  font-size: 1.5em;
  font-weight: 600;
}

.textInput:focus{
  outline: none;
}

.botones{
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.btn{
  padding: 0;
  margin-right: 1em;  
  width: 680px;
  height: 50px;
}

#encriptar{
  background-color: #0A3871;
  color: white;
  font-size: medium;
  font-weight: 700;  
  border-radius: 24px;
}

#encriptar:hover{
  background-color: #D8DFE8;
  color: #0A3871;
  border: 1px solid #0A3871;
}

#desencriptar{
  background-color: #D8DFE8;
  color: #0A3871;
  font-size: medium;
  font-weight: 700;
  border-radius: 24px;
  border: 1px solid #0A3871;
}

#desencriptar:hover{
  background-color: #0A3871;
  color: white;
}

.salidadTexto{
  padding: 1rem 2rem 1rem;
  background-color: white; 
  border-radius: 24px;
  position: relative;
}

#textOutput{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #0A3871;
}
#textOutput:focus{
  outline: none;
}

.imagen-texto{
  position: absolute;
  top: 45px;
  left: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notFound{
  font-weight: 700;
  font-size: larger;
  line-height: 120%;
  text-align: center;
  width: 70%;
  margin: 1rem auto;
}

.instructions{
  font-weight: 400;
  font-size: medium;
  line-height: 150%;
  width: 90%;
  margin: auto;
  text-align: center;
}

.btnContainer{
  position: absolute;
  top: 545px;
  left: 97px;
}

#btn-copiar{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 276px;
  height: 50px;
  color: #0A3871;
  font-weight: 600;
  font-size: medium;
  border: 1px solid #0A3871;
  border-radius: 24px;
  justify-content: center; 
}

#btn-copiar:hover{
  background-color: #0A3871;
  color: white;
}

footer{
  background-color: #113A6E;
  display: flex !important;
  align-items: center;
}

.creditos{
  padding-left: 10%;
}

.piePag{
  width: 100%;
  text-align: left;
  color: azure;
}

.enlaces{
  display: inline-block;
  padding-left: 10%;
}

.autor{
  width: 100%;
  text-align: left;
  color: azure;
  font-size: larger;
}

.btnRedes{
  width: 50px;
}

/*
Aqui empieza los estilos resposivos
*/

@media screen and (max-width: 1200px) {
  .btnContainer {
    left: 58px;
  }

  .imagen-texto {
    top: 130px;
    left: 8px;
  }

  .img-busqueda{
    width: 80%;
  }

  #btn-copiar{
    width: 200px;
  }
}

@media screen and (max-width: 768px) {

  header{    
    padding: 1rem;
  }

  .encabezado{
    font-size: xx-large;
  }

  .container{
    flex-direction: column;
    height: 90rem;
  }

  .entradaTexto-Botones{
    height: 50%;
    padding-bottom: 4rem;
  }

  .salidadTexto{
    height: 50%;
  }

  .imagen-texto {
    top: 15%;
    left: 13%;
  }

  .btnContainer {
    left: 28%;
    top: 82%;
  }

  #btn-copiar {
    width: 250px;
  }

  footer{
    padding: 1rem;
  }

  .enlaces{
    padding-left: 5%;
  }
  
  .creditos{
    padding-left: 5%;
  }
}

@media screen and (max-width: 480px) {
  .btnContainer {
    left: 22%;
  }
}

@media screen and (max-width: 400px) {
  .container{
    height: 60rem;
  }

  .imagen-texto {
    left: 0%;
    top: 5%;
  }

  .img-busqueda {
    width: 60%;
  }

  .btnContainer {
    left: 16%;
  }
}